@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000000;
		--foreground: #FEFEFE;
		--primary: #7402F6;
		--secondary: #B09AFB;
	}
}

body {
	margin-top: 50px;
	color: #ffffff;
	background: var(--background);
}

h1 {
	font-size: 24px;
}